Source: meqtrees-cattery
Section: python
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>= 11),
               dh-python,
               makems,
               libqdbm-dev,
               casacore-data,
               python3-all,
               python3-casacore,
               python3-astro-kittens,
               python3-six,
               python3-meqtrees-timba
Standards-Version: 4.5.0
Homepage: https://github.com/ska-sa/meqtrees-cattery
X-Python3-Version: >=3.6

Package: python3-meqtrees-cattery
Architecture: any
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-future,
         python3-purr,
         python3-numpy,
         python3-astropy,
         python3-scipy,
         python3-meqtrees-timba
Description: Frameworks for simulation and calibration of radio interferometers
 MeqTrees is a software package for implementing Measurement Equations. This
 makes it uniquely suited for simulation and calibration of radioastronomical
 data, especially that involving new radiotelescopes and observational
 regimes.
 .
 The Cattery is a set of MeqTrees-based frameworks for simulation and
 calibration of radio interferometers. Pretty much everything is done via a
 Cattery package these days.

Package: meqtrees
Architecture: any
Depends:
 ${misc:Depends}, ${python3:Depends}, python3-meqtrees-cattery
Description: Meta package that depends on all MeqTrees subprojects.
 MeqTrees is a software package for implementing Measurement Equations. This
 makes it uniquely suited for simulation and calibration of radioastronomical
 data, especially that involving new radiotelescopes and observational
 regimes.
